.signin__hero {
  width: 100%;
  height: 90vh;
}

.signin__hero-container {
  border-radius: 10px;
  background-color: #dadada;
  display: flex;
  padding: 50px;
}

.signin__hero-container article,
form {
  padding: 0 50px;
}

.signin__form {
  width: 50%;
  flex-direction: column;
  padding-bottom: 15px;
}

.signin__greeting {
  width: 50%;
  /* margin: 30px; */
  padding: 15px;
  flex-direction: column;
  border-right: 1px solid #c24545;
}

.form__label {
  margin: 5px 0;
  width: 100%;
}

.form__input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: #53161679;
  outline: none;
}

.forgot__password {
  width: 100%;
  font-size: 0.8em;
  color: #575757;
  cursor: pointer;
  margin: 0;
  margin-top: 2px;
  text-align: left;
}

.button__signin {
  margin-top: 15px;
  font-size: 1em;
}
