.signin__hero {
  width: 100%;
  height: 90vh;
}

.signin__hero-container {
  border-radius: 10px;
  background-color: #dadada;
  display: flex;
  padding: 50px;
}

.signin__hero-container article,
form {
  padding: 0 50px;
}

.signin__form {
  width: 50%;
  flex-direction: column;
  padding-bottom: 15px;
  /* padding: 7em 3.5em; */
}

.signin__greeting {
  width: 50%;
  /* margin: 30px; */
  padding: 15px;
  flex-direction: column;
  border-right: 1px solid #c24545;
}

.form__label {
  margin: 8px 0;
  width: 100%;
}

.form__input {
  border: none;
  border-radius: 5px;
  padding: 4px;
  background-color: #53161679;
  outline: none;
}
