body {
  margin: 0;
  padding: 0;
  background-color: #531616;
  box-sizing: border-box;
}

.dflex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__primary {
  padding: 0.3em 0.5em;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  color: #262626;
  font-size: 1.1em;
  transition: 0.2s;
}

.btn__primary:hover {
  background-color: #f1f1f14d;
  border: 1px solid #f1f1f13f;
  transition: 0.2s;
}

.btn__secondary {
  padding: 0.3em 0.5em;
  background-color: #262626;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #dadada;
  font-size: 1.1em;
  transition: 0.2s;
}

.btn__tertiary {
  padding: 0.3em 0.5em;
  background-color: #262626;
  border: 1px solid #262626;
  color: #dadada;
  border-radius: 5px;
}

.text__decoration-none {
  text-decoration: none;
}

.list__style-none {
  list-style: none;
}

.mr-s {
  margin-right: 5px;
}

.mr-m {
  margin-right: 15px;
}

.mr-l {
  margin-right: 30px;
}

.m-n {
  margin: 0;
}

.m-s {
  padding: 10px;
}
.m-m {
  padding: 20px;
}
.m-l {
  padding: 30px;
}

.pr-s {
  margin-right: 5px;
}

.pr-m {
  margin-right: 15px;
}

.pr-l {
  margin-right: 30px;
}

.p-n {
  padding: 0;
}

.p-s {
  padding: 10px;
}
.p-m {
  padding: 20px;
}
.p-l {
  padding: 30px;
}
